
<h3> Search Account</h3>
<hr>
 <div class="container-fluid">
    <form (ngSubmit)='onSubmit()'>
        <div>
            <label>account Id</label>
            <input type="text" class='form-control' [(ngModel)]='account_Id' name="account_Id">
        </div>
        <button class='btn btn-primary' type='submit'>Find</button>
    </form>
</div> 
<div>
    
     <table class="table table-hoverr">
        <tr>
            
            <td>{{acc.account_Id}}</td>
               
        </tr>
    </table> 
    <router-outlet></router-outlet>
</div>
