
<h3> Delete</h3>
<hr>
<div class="container-fluid">
    <form (ngSubmit)='onSubmit()'>
        <div>
            <label>acccount Id</label>
            <input type="text" class='form-control' [(ngModel)]='account_Id' name="account_Id">
        </div>
        <button class='btn btn-primary' type='submit'>Diable</button>
    </form>
</div>