
        <!-- <nav class="nav">
               // <a class="nav-link active" routerLink='/addemp'>Add</a> 
               <!-- // <a class="nav-link" routerLink='/findemp'>Find</a>
                <a class="nav-link" routerLink='/addcus'>Add account</a>
   <a class="nav-link" routerLink='/list'>List</a> 
                <!-- //<a class="nav-link" routerLink='/update'>Update</a> 
                <a class="nav-link" routerLink='/cus'>account list</a>
                <a class="nav-link" routerLink='/update'>edit acccount</a>
                <a class="nav-link" routerLink='/del'>delete acccount</a>

        </nav> -->



        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                
                <!-- Brand/logo -->
<a class="navbar-brand" href="#" style="float:right">BANK</a>
                
<!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                        <a class="nav-link" routerLink='/addcus'>Add Customer</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" routerLink='/cus'>Customer list</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" routerLink='/update'>edit Details</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" routerLink='/del'>delete acccount</a>
                  </li>
                </ul>
                
              </nav>