<h3>List of customers</h3>
<hr>
<table class="table table-hoverr">
    <tr *ngFor='let cus of cusList'>
        <td>{{cus.customer_Id}}</td>
        <td>{{cus.name}}</td>
        <td>{{cus.address}}</td>
        <td>{{cus.mail}}</td>
        <td>{{cus.dob}}</td>
        <td>{{cus.gender}}</td>
    </tr>
</table>
