<hr>
<div class='container-fluid'>
    <form method="post" #empForm='ngForm' (ngSubmit)="onSubmit()">
        <div class='form-group'>
            <label>Customer Id</label>
            <input type="text" class="form-control" name="customer_Id" [(ngModel)]="cusModel.customer_Id">
        </div>
        
        <div class='form-group'>
            <label>customer name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="cusModel.name">
        </div>
        <div class='form-group'>
            <label>customer mail</label>
            <input type="text" class="form-control" name="mail" [(ngModel)]="cusModel.mail">
        </div>
        <div class='form-group'>
            <label>address</label>
            <input type="text" class="form-control" name="address" [(ngModel)]="cusModel.address">
        </div>
        
        <div class='form-group'>
            <label>dob</label>
            <input type="text" class="form-control" name="dob" [(ngModel)]="cusModel.dob">
        </div>

        
        <div class='form-group'>
            <label>gender</label>
            <input type="text" class="form-control" name="gender" [(ngModel)]="cusModel.gender">
        </div>
        <button class='btn btn-primary' type='submit'>Add customer</button>
    </form>
</div>