
<!-- 
<p>{{editAccount.acc.branch}}</p>
<p>{{editAccount.acc.customer_Id}}</p>
<p>{{editAccount.acc.account_Balance}}</p>
<p>{{editAccount.acc.account_Type}}</p>
<p>{{editAccount.acc.opened_Date}}</p>
<p>{{editAccount.acc.status}}</p> 

<p>accountId: {{editAccount.acc.account_Id}}</p> -->



<h3>EMployee Update Page</h3>
<hr>

<div *ngIf='showFlag'>
    <table class='table'>
        <tr>
            <th>acount Id</th>
            
            <th>Branch</th>
            
            <th>Customer Id</th>
            
            <th>Account Type</th>
            
            <th>Opened Date</th>
            
            <th>Status</th>
        </tr>
        <tr>
            <td>{{editAccount.acc.account_Id}}</td>
            <td>{{editAccount.acc.branch}}</td>
            <td>{{editAccount.acc.customer_Id}}</td>
            <td>{{editAccount.acc.account_Type}}</td>
            <td>{{editAccount.acc.opened_Date}}</td>
            <td>{{editAccount.acc.status}}</td>
            <td><button (click)='doEdit()'>Edit</button></td>
        </tr>
    </table>
</div>
<div *ngIf='showForm' class='container-fluid'>
    <form (ngSubmit)='onSubmit2()'>
        <div class='form-group'>
            <span>Account Id</span>
            <input type="text" name="accountId" [(ngModel)]="editAccount.acc.account_Id" class='form-control'>
        </div>
        <div class='form-group'>
                <span>Branch</span>
            <input type="text" name="branch" [(ngModel)]="editAccount.acc.branch" class='form-control'>
        </div>
        <div class='form-group'>
                <span>Customer Id</span>
            <input type="text" name="customerId" [(ngModel)]="editAccount.acc.customer_Id" class='form-control'>
        </div>
        <div class='form-group'>
                <span>account Type</span>
            <input type="text" name="Type" [(ngModel)]="editAccount.acc.account_Type" class='form-control'>
        </div>
        <div class='form-group'>
                <span>Opened Date</span>
          <input type="text" name="OpenDate" [(ngModel)]="editAccount.acc.opened_Date" class='form-control'>
      </div>
      <div class='form-group'>
            <span>Status</span>
        <input type="text" name="status" [(ngModel)]="editAccount.acc.status" class='form-control'>
    </div>
        <button type="submit" class='btn btn-primary'>Update</button>
    </form>
</div>








<!-- 
<table class="table table-hoverr">
  <tr>
      <td>{{editAccount.acc.account_Id}}</td>
      <td>{{editAccount.acc.branch}}</td>
      <td>{{editAccount.acc.customer_Id}}</td>
      <td>{{editAccount.acc.account_Balance}}</td>
      <td>{{editAccount.acc.account_Type}}</td>
      <td>{{editAccount.acc.opened_Date}}</td>
      <td>{{editAccount.acc.status}}</td>
  </tr>
</table>
    -->